#readfile {
    opacity: 0;
    width: 0;
    height: 0;
}

#container {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}