/*  Custom Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
/*  border-radius: 25px;  */
}
 
section::-webkit-scrollbar {
  width: 100% !important;
  height: 8px !important;
/*  border-radius: 25px;  */
}
 
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 25px;
  transition: background-color 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

main {
  height: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

main > textarea {
  flex: 2;
  height: calc(100% - 16px);
  &:not(.code) {
    resize: none;
  }
}

main > textarea.code {
  outline: none;
  resize: horizontal;
}

main > span {
  width: 1px;
  height: 100%;
  background-color: gray;
}

main > iframe {
  flex: 1;
  height: calc(100% - 16px);
  border: solid 0.5px gray;
  border-left: none;
}

section {
/*  min-width: 150px; */
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin: 8px;
  gap: 8px;
}

section > div {
  display: flex;
  justify-content: center;
}

button, input[type='file'] {
  font-weight: bold;
}
button:not(section > div > button), input[type='file']:not(section > div > input[type='file']) {
  margin: 8px;
}

a#downloader {
  display: none;
}

input:not(input[type='file']) {
  max-width: 150px;
}

[onclick] {
  cursor: pointer;
}

*[style='display: none;']:focus {
  display: normal;
}

#readfile {
  z-index: -1;
}