.grid-row {
    display: grid;
    grid-auto-flow: column;
}

.grid.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item img {
    width: 64px;
    aspect-ratio: 1;
}

.grid-item h2 {
    width: fit-content;
}