:root {
    --grid-gap: 25px;
}


.grid-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: var(--grid-gap)
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: var(--grid-gap);
    padding: var(--grid-gap);
    gap: var(--grid-gap);

    &:hover, &:is(:focus-within, :has(:focus-visible)) {
        border-radius: calc(var(--grid-gap)/5);
    }
}

.grid-item img {
    width: 64px;
    aspect-ratio: 1;
}

.grid-item h2 {
    margin-block: 0;
    word-wrap: break-word;
    text-wrap: balance;
    width: fit-content;
}